cluster:
  name: in-cluster
  url: ""
  rancher:
    id: c-XXXX

openstack:
  project: bbXX
  auth_url: "https://radiant.ncsa.illinois.edu:5000"
  credential_id: ""
  credential_secret: ""

notifications: {}
#  notifications.argoproj.io/subscribe.slack: my-channel

sync: false

metallb:
  enabled: false
  version: "0.13.*"
  addresses: []

ingresscontroller:
  enabled: false
  class: traefik2
  publicIP: 1.1.1.1
  #privateIP: 1.1.1.2
  #acme:
  #  email: devops.isda@lists.illinois.edu
  storageClass: ""
  traefik1:
    version: "1.*"
  traefik2:
    version: "*"
    ports: {}
      # postgres:
      #   port: 5432
      #   expose: true
      #   exposedPort: 5432
      #   protocol: TCP

sealedsecrets:
  enabled: false
  version: "2.*"

# ----------------------------------------------------------------------
# MONITORING
# ----------------------------------------------------------------------

rancherMonitoring:
  enabled: false
  version: "100.*"

healthmonitor:
  enabled: false
  targetRevision: HEAD
  nfs: false
  notifiers:
    console:
      report: change
      threshold: 0

# ----------------------------------------------------------------------
# STORAGE
# ----------------------------------------------------------------------

nfs:
  enabled: false
  version: "4.*"
  servers:
    # special:
    #   server: server1
    #   path: /export/
    #   pathPattern:

longhorn:
  enabled: false
  version: "1.*"
  replicas: 3

cinder:
  enabled: false
  version: "2.*"

# ----------------------------------------------------------------------
# MISC RESOURCES
# ----------------------------------------------------------------------

raw:
  enabled: true
  version: "1.*"
  resources: []
  templates: []
