#cloud-config

# SSH config
no_ssh_fingerprints: false
ssh:
  emit_keys_to_console: false

# update and upgrade instance
package_update: true
package_upgrade: true

# install some packages
packages:
  - chrony
%{ if username == "ubuntu" }
  - open-iscsi
  - nfs-common
%{ if ncsa_security }
  - rsyslog-relp
%{ endif }
%{ endif }

users:
  - default
%{ if rke2_cis_hardening }
  - name: etcd
    gecos: etcd Service Account
    system: true
    shell: /sbin/nologin
%{ endif }
%{ if ncsa_security }
  - name: qualys
    gecos: Qualys Service
    groups: users
    system: false
    shell: /bin/bash
    ssh_authorized_keys:
      - ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAGAwkmzfc0NyhjOdi1qfI5SVQ0prU1luu24xUNeEyEvH9CX80hmXt+ZnQt8Dc7HExUXDcSZo25g71WnuvlYbZefBgHkOLY5JpDcTGuQcb7W6CXD9UG7Unu4YbmBErQhs3u2iuNLYCDxAhoVvfK4Op/sNvMKME72KM3hQ6GE+H1QD8xZZA==
%{ endif }

# set timezone
timezone: America/Chicago

# files to be created on the system
write_files:
%{ if ncsa_security }
- path: /etc/ssh/sshd_config.d/50-ncsa-only.conf
  permissions: "0644"
  owner: root:root
  content: |
    # Disable all authentication modes later to be enabled as needed
    # GSSAPI is enabled due to bug Redhat Bugzilla #1580017
    ChallengeResponseAuthentication no
    GSSAPIAuthentication yes
    HostbasedAuthentication no
    KbdInteractiveAuthentication no
    KerberosAuthentication no
    PasswordAuthentication no
    PubkeyAuthentication no

    # Allow any NCSA IP
    Match Address "141.142.0.0/16"
           PubkeyAuthentication yes
           AuthorizedKeysFile .ssh/authorized_keys
           AuthenticationMethods publickey
    # Allow cluster network
    Match Address "${network_cidr}"
           PubkeyAuthentication yes
           AuthorizedKeysFile .ssh/authorized_keys
           AuthenticationMethods publickey

    # Qualys Scanner
    Match User qualys
           AllowGroups qualys
           AllowUsers qualys@141.142.148.48/29
           PubkeyAuthentication yes
           AuthorizedKeysFile .ssh/authorized_keys
           AuthenticationMethods publickey
           Banner none
           MaxSessions 10
           MaxAuthTries 10
%{ endif }
%{ if taiga_enabled ~}
- path: /etc/fstab
  permissions: "0644"
  owner: root:root
  content: |
    taiga-nfs.ncsa.illinois.edu:/taiga/ncsa/radiant/${project_name}/${cluster_name} /taiga nfs defaults 0 0
  append: true
%{ endif ~}
%{ if install_docker ~}
- path: /etc/docker/daemon.json
  permissions: "0644"
  owner: root:root
  content: |
    {
      "exec-opts": ["native.cgroupdriver=systemd"],
      "log-driver": "json-file",
      "log-opts": {
        "max-size": "100m"
      },
      "storage-driver": "overlay2"
    }
%{ endif ~}
%{ if ncsa_security }
- path: /etc/rsyslog.d/00-ncsa.conf
  permissions: "0644"
  owner: root:root
  content: |
    # Load Output RELP module (at top)
    $ModLoad omrelp
    $WorkDirectory /var/spool/rsyslog       # Directory to store buffer files (must exist!)
    $ActionQueueType LinkedList             # use asynchronous processing
    $ActionQueueFileName syslog-security-buffer     # set file name, also enables disk mode
    $ActionQueueMaxDiskSpace 10g             # space limit (use as much as possible)
    $ActionResumeRetryCount -1              # infinite retries on insert failure
    $ActionQueueSaveOnShutdown on           # save in-memory data if rsyslog shuts down
    *.* :omrelp:syslog.security.ncsa.illinois.edu:1514
%{ endif }
%{ if ncsa_security }
- path: /etc/sysctl.d/50-disable-ipv6.conf
  permissions: "0644"
  owner: root:root
  content: |
    net.ipv6.conf.all.disable_ipv6 = 1
    net.ipv6.conf.default.disable_ipv6 = 1
%{ endif }
%{ if ncsa_security }
%{ if username == "ubuntu" }
- path: /etc/apt/preferences.d/nosnap.pref
  permissions: "0644"
  owner: root:root
  content: |
    Package: snapd
    Pin: release a=*
    Pin-Priority: -1
%{ endif }
%{ endif }
%{ if username == "ubuntu" }
- path: /etc/sysctl.d/50-increase-inotify.conf
  permissions: "0644"
  owner: root:root
  content: |
    fs.inotify.max_user_instances=8192
%{ endif }
%{ if rke2_cis_hardening }
- path: /etc/sysctl.d/90-kubelet.conf
  permissions: "0644"
  owner: root:root
  content: |
    vm.panic_on_oom=0
    vm.overcommit_memory=1
    kernel.panic=10
    kernel.panic_on_oops=1
%{ endif }
%{ if ncsa_security }
%{ if username == "ubuntu" }
- path: /etc/chrony/sources.d/ncsa.sources
  permissions: "0644"
  owner: root:root
  content: |
    # University of Illinois NTP Servers
    pool ntp.illinois.edu iburst maxsources 3
    # NCSA's NTP Server
    pool ntp.ncsa.illinois.edu iburst maxsources 2
%{ endif }
%{ endif }
- path: /usr/local/bin/join_rancher
  permissions: "0700"
  owner: root:root
  content: |
    #!/usr/bin/bash
    echo "sleeping to wait for network"
    while ! curl --fail --silent --output /dev/null http://ncsa.illinois.edu ; do echo "Sleep 10s"; sleep 10; done
%{ if ncsa_security }
    # disable ipv6
    sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sysctl -w net.ipv6.conf.default.disable_ipv6=1
    sysctl -w net.ipv6.route.flush=1
%{ if username == "ubuntu" }
    # disable rpcbind and rpc-statd
    systemctl disable --now rpcbind
    systemctl disable --now rpc-statd
    # clean up default pool sources if we are using ncsa security
    sed -i 's/^pool/# pool/' /etc/chrony/chrony.conf
    systemctl restart chronyd
    # remove snap
    snap remove --purge lxd
    snap remove --purge core20
    snap remove --purge snapd
    apt-get purge --auto-remove -y snapd
%{ if qualys_url != "" && qualys_activation_id != "" && qualys_customer_id != "" && qualys_server != "" }
    # install qualys agent
    curl -o /tmp/QualysCloudAgent.deb ${qualys_url}
    dpkg --install /tmp/QualysCloudAgent.deb
    rm /tmp/QualysCloudAgent.deb
    # enable qualys agent
    /usr/local/qualys/cloud-agent/bin/qualys-cloud-agent.sh ActivationId=${qualys_activation_id} CustomerId=${qualys_customer_id} ServerUri=${qualys_server}
%{ endif }
%{ endif }
%{ endif }
%{ if username == "ubuntu" }
    sysctl fs.inotify.max_user_instances=8192
%{ endif }
%{ if install_docker ~}
    echo "install docker"
    curl https://releases.rancher.com/install-docker/26.1.sh | sh
    apt-get -qq update
    apt-get -y dist-upgrade
    systemctl enable --now docker
    usermod -aG docker ${username}
%{ endif ~}
    echo "connect to rancher"
    ${node_command} ${node_options} ${node_labels} ${node_taints}
%{ if taiga_enabled ~}
    echo "mounting taiga"
    mkdir /taiga
%{ endif ~}
    echo "all done"

# run this command once the system is booted
runcmd:
- /usr/local/bin/join_rancher

power_state:
 delay: "+5"
 mode: reboot
