{{- if and .Values.longhorn .Values.longhorn.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.cluster.name }}-longhorn
  labels:
    cluster: {{ .Values.cluster.name | quote }}
    app: longhorn
  namespace: argocd
  annotations:
    {{- toYaml .Values.notifications | nindent 4 }}
spec:
  project: {{ .Values.cluster.name }}
  destination:
    server: {{ .Values.cluster.url }}
    namespace: longhorn-system
  syncPolicy:
    {{- if .Values.sync }}
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    {{- end }}
    syncOptions:
      - CreateNamespace=true
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: {{ .Values.longhorn.version | quote }}
    helm:
      version: v3
      releaseName: longhorn-system
      values: |
        defaultSettings:
          backupTarget: nfs://radiant-nfs.ncsa.illinois.edu:/radiant/projects/{{ .Values.openstack.project }}/{{ .Values.cluster.name }}/backup
          defaultReplicaCount: {{ .Values.longhorn.replicas }}
        global:
          cattle:
            clusterId: {{ .Values.cluster.rancher.id }}
            clusterName: {{ .Values.cluster.name }}
            systemDefaultRegistry: ""
          systemDefaultRegistry: ""
        persistence:
          defaultClass: false
          defaultClassReplicaCount: {{ .Values.longhorn.replicas }}
{{- end }}
